{% load static %}
<!DOCTYPE html>
<html>
<title>UAV Coming Soon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'font.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'w3.css' %}">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'layout/styles/animated.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="//fonts.googleapis.com/css?family=Economica:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Rasa:300,400,500,600,700" rel="stylesheet">
	<!-- //web-fonts -->

<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <!--Navbar-->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#" data-toggle="modal" data-target="#myModal2">SignUp</a>
    <a href="#" data-toggle="modal" data-target="#myModal1">Login</a>
    <a href="#services">Services</a>
    <a href="#">Contact</a>
  </div>
  <span style="font-size:30px;cursor:pointer" class="w3-display-topright w3-padding-large w3-xlarge"onclick="openNav()">&#9776;</span>

  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    UTMS
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">UTMS</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <h3 class="w3-large w3-center">Coming Soon</h3>
  </div>
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group center">
      <article class="one_quarter first"><i class="icon fa fa-archive"></i>
        <h4 class="font-x1"><a href="signup.html"target=blank">Register</a></h4>
        <p>It's illegal to fly an UAS without register</p>
      </article>
      <article class="one_quarter"><i class="icon fa fa-fire"></i>
        <h4 class="font-x1"><a href="geofence.html"target=blank">Restricted Path</a></h4>
        <p>Before applying check out Restricted Paths, if your path includes any restricted path your request will be cancelled.</p>
      </article>
      <article class="one_quarter"><i class="icon fa fa-recycle"></i>
        <h4 class="font-x1"><a href="login.php"target=blank">Login</a></h4>
        <p>If you are already registered then login to submit your request and check your request status, otherwise Register first</p>
      </article>
      <article class="one_quarter"><i class="icon fa fa-rouble"></i>
        <h4 class="font-x1"><a href="#">Contact Us</a></h4>
        <p>For more contact us</p>
      </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper" id="services">
    <div class="split clear" style="background-image:url('images/demo/backgrounds/02.png');">
      <section class="box"> 
        <!-- ################################################################################################ -->
        <div class="btmspace-50">
          
          <h2 class="heading">HOW TO GET PERMISSION</h2>
        </div>
        <ul class="nospace elements">
          <li>
            <article><a href="#" class="icon"><i class="fa fa-glass"></i></a>
              <h6 class="heading">Register yourself by sigining up</h6>
        <p>Register yourself and login.</p>
            </article>
          </li>
          <li>
            <article><a href="#" class="icon"><i class="fa fa-globe"></i></a>
              <h6 class="heading">Get your UIN.</h6>
              <p>If your registration form is complete and all documents are correct, you will get a UIN(Unique Identification Number).</p>
            </article>
          </li>
          <li>
            <article><a href="#" class="icon"><i class="fa fa-shekel"></i></a>
              <h6 class="heading">Submit your request.</h6>
              <p>Submit your UIN and make your request.</p>
            </article>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </section>
    </div>
  </div>

  <div class="wrapper row4">
      <footer id="footer" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <div class="one_quarter first">
          <h6 class="title">Our Office</h6>
          <p> Aurbindo Marg, Opp. Safdarjung Airport, New Delhi 110 003, INDIA</p>
        </div>
        <div class="one_quarter">
          <h6 class="title">Tel No</h6>
          <ul class="nospace linklist contact">
                  
            <li><i class="fa fa-phone"></i> 91-11-24622495</li>
           
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="title">Government Sites</h6>
          <ul class="nospace linklist">
            <li><a href="http://udaan.nic.in"target=blank">udaan.nic.in</a></li>
            <li><a href="http://dgca.nic.in/"target=blank">http://dgca.nic.in/</a></li>
            <li><a href="https://india.gov.in/"target=blank">https://india.gov.in/</a></li>
            <li><a href="http://dgca.nic.in/dgca/contact-reg-ind.htm"target=blank">DGCA Regional office</a></li>
            <li><a href="https://wrappixel.com/demos/admin-templates/admin-pro/main/index.html"target=blank">New Dashboard Design</a></li>
          </ul>
        </div>
      </footer>
  </div>

  <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">UASRP</a></p>
      </div>
  </div> 

<!--SIGNUP MODAL-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign Up</h3>
						<p>
							Come join the UTMS! Let's set up your Account.
						</p>
						<form action="#" method="post">
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Name" name="Name" required="">
							</div>
							<div class="styled-input">
								<input type="email" placeholder="E-mail" name="Email" required="">
							</div>
							<div class="styled-input">
								<input type="password" placeholder="Password" name="password" id="password1" required="">
							</div>
							<div class="styled-input">
								<input type="password" placeholder="Confirm Password" name="Confirm Password" id="password2" required="">
							</div>
							<input type="submit" value="Sign Up">
						</form>
						<p>
							<a href="#">By clicking register, I agree to your terms</a>
						</p>
					</div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
	</div>
	<!-- //Modal2 -->
	<!-- //signup Model -->







</body>


































<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>
     
</html>
